* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.fa-fa-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fa-fa-nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 900;
}

.fa-fa-nav-bar ul a {
  text-decoration: none;
  color: #330233;
  font-size: 25px;
}
.fa-fa-nav-bar ul a:hover {
  background-color: #f0b3f0f9;
  transform: 1s;
  padding: 10px;
  border-radius: 30%;
  transition: 2s;
}
.fa-fa-nav-bar ul li img {
  height: 90px;
  width: 140px;
}
/* cord */
.fa-fa-cord-heading {
  font-size: 25px;
  text-align: center;
  color: #330233;
  background-color: rgb(250, 245, 238);
  font-weight: 700;
}
.fa-fa-coord-sec{
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: auto auto;
  background-color: rgb(250, 245, 238);
}

.fa-fa-coord-sec img{
  width: 400px;
  height: 400px;
  border-radius: 20%;
  margin: 50px;
}
.img-sale{
  position: absolute;
  left: 800px;
  top: 900px;
  border-radius: 50%;
  
}
.img-sale img{
  height: 30%;
  width: 60%;
  border-radius: 50%;

}
.fa-fa-cord-title1 {
  font-size: 22px;
  font-weight: 800;
  color: #5c5981;
}
.fa-fa-cord-title2{
  font-size: 18px;
  margin-left: 50px;
  margin-top: 12px;
  color: rgb(115, 5, 211);
  font-weight: 600;
}
.fa-fa-cord-title3{
  font-size: 20px;
  color: #5c5981;
}
/* add to cart */
.fa-fa-addtocart1{
  position: absolute;
  left: 15%;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px
}
/* buynow */
.fa-fa-buynow1{
  position: absolute;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px
}
.fa-fa-buynow2{
  position: absolute;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px
}
.fa-fa-addtocart2{
  position: absolute;
  left: 70%;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px
}
.fa-fa-addtocart3{
  position: absolute;
  left: 30%;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  margin-top: -40px;
}
.fa-fa-buynow3{
  position: absolute;
  left: 15%;
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  margin-top: -40px;
}
#rotated-image{
  transform: rotate(45deg);
  
}
    /* wedding */
  .fa-fa-wedding-sec{
    display: grid;
    grid-template-columns: auto auto;
  background-color: rgb(250, 245, 238);
  }

  .fa-fa-wedding-sec img{
    width: 400px;
  height: 400px;
  border-radius: 20%;
  margin: 10px;
  }
  .fa-fa-wedding-heading{
    font-size: 25px;
  text-align: center;
  color: #330233;
  background-color: rgb(250, 245, 238);
  font-weight: 700;
   margin: 25px;
  }

  .fa-fa-wedd-title1{
    font-size: 22px;
  font-weight: 800;
  color: #5c5981;
  }
  .fa-fa-wedd-title2{
    font-size: 18px;
  margin-left: 50px;
  margin-top: 12px;
  color: rgb(115, 5, 211);
  font-weight: 600;
  }
  .fa-fa-wedd-title3{
    font-size: 20px;
  color: #5c5981;
  }
.fa-fa-addtobag{
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  position: absolute;
  left: 20%;
  text-decoration: none;
  list-style-type: none;
}

.fa-fa-buynow4{
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  position: absolute;
}
.fa-fa-sec-addtobag{
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  position: absolute;
}
.fa-fa-sec-buynow{
  font-size: 25px;
  background-color: black;
  padding: 5px;
  color: antiquewhite;
  border-radius: 20px;
  position: absolute;
  right: 10%;
  
}