* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.fa-fa-nav-bar {
  position: sticky;
  top: 0px;
}

.fa-fa-nav-bar ul a:hover {
  background-color: rgba(240, 179, 240, 0.9764705882);
  transform: 1s;
  padding: 10px;
  border-radius: 30%;
  transition: 2s;
}

.fa-fa-nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 900;
}

.fa-fa-nav-bar ul a {
  text-decoration: none;
  color: #330233;
  font-size: 25px;
}

.fa-fa-nav-bar ul li img {
  height: 140px;
  width: 140px;
}

@media (max-width: 1025px) {
  #fafa-navbar {
    width: 600px;
  }
  #fafa-navbar a {
    font-size: 20px;
  }
}
@media (max-width: 942px) {
  #fafa-navbar {
    display: flex;
    align-items: center;
  }
  #fafa-navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
  }
}
.ha-ha-img img {
  width: 210vh;
}

@media (max-width: 942px) {
  .ha-ha-home img {
    width: 140vh;
  }
}
.ha-ha-img-title {
  position: absolute;
  font-size: 70px;
  top: 550px;
  left: 600px;
  color: #330233;
  font-weight: 800;
}

@media (max-width: 942px) {
  .ha-ha-img-title {
    position: absolute;
    top: 350px;
    left: 400px;
  }
}
.ha-ha-img-title:hover {
  background-color: #f9e1f9;
}

.ha-ha-sec-two {
  display: flex;
}

.ha-ha-sec-two article {
  background-color: palevioletred;
  width: 300px;
  height: 500px;
  margin: 20px;
}

.ha-ha-sec-two img {
  width: 300px;
  height: 500px;
}

@media (max-width: 942px) {
  .ha-ha-sec-two article {
    width: 300px;
    height: 500px;
    margin: 10px;
  }
  .ha-ha-sec-two img {
    width: 300px;
    height: 500px;
  }
}
.ha-ha-sec-two img:hover {
  width: 400px;
  height: 500px;
  transition: 1s;
}

.ha-ha-title1 {
  color: #330233;
  font-size: 30px;
  position: absolute;
  top: 1050px;
  font-weight: 700;
}

@media (max-width: 942px) {
  .ha-ha-title1 {
    color: #330233;
    font-size: 30px;
    position: absolute;
    top: 650px;
    font-weight: 700;
  }
}
.fa-fa-hero-sec-part2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.fa-fa-hero-sec-part2 article {
  background-color: rgb(236, 168, 191);
  margin: 20px;
  border-radius: 10%;
  height: 280px;
  width: 280px;
}

.fa-fa-hero-sec-part2 article:hover {
  width: 400px;
  height: 250px;
  transition: 2s;
}

.fa-fa-hero-sec-part2 p {
  font-size: 25px;
  color: #140114;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fa-shop {
  color: rgb(107, 10, 107);
  font-size: 25px;
  margin: 30px;
}

.fa-fa-hero-sec-part2 div {
  font-size: 25px;
  text-align: center;
}

.fa-shirt {
  color: rgb(107, 10, 107);
  font-size: 25px;
  margin: 30px;
}

.fa-truck-arrow-right {
  color: rgb(107, 10, 107);
  font-size: 25px;
  margin: 30px;
}

.ca-ca-main-title {
  font-size: 45px;
  text-align: center;
  background-color: rgb(248, 226, 244);
  color: #330233;
  font-weight: 800;
}

.con-con-form div input, button {
  border: none;
  outline: none;
  background-color: rgb(250, 215, 238);
  border-bottom: 2px solid black;
  color: #330233;
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 10%;
}

.con-con-form div button {
  border: none;
}

.con-con-form div input::placeholder {
  color: #330233;
  text-transform: uppercase;
  font-weight: 600;
}

.con-con-form {
  background-color: rgba(236, 179, 231, 0.457);
}

/*# sourceMappingURL=ecomm.css.map */
