* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-two {
  display: none;
}

.fa-fa-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fa-fa-nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.fa-fa-nav-bar ul a {
  text-decoration: none;
  color: #330233;
  font-size: 25px;
}

.fa-fa-nav-bar ul li img {
  height: 140px;
  width: 140px;
}

@media (max-width: 1045px) {
  .fa-fa-nav-bar ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #fafa-navbar {
    display: none;
  }
}

.fa-fa-makeup-sec {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  margin: 10px;
}

.fa-fa-makeup-sec article {
  width: 100%;
  height: auto;
  margin: 50px;
  border-radius: 20%;
}

.fa-fa-makeup-sec img {
  width: 100%;
  height: auto;
  border-radius: 20%;
}

.fa-fa-title-sec,
.fa-fa-title2 {
  position: static;
  text-align: center;
  margin: 20px 0;
  color: #dda0dd;
  padding: 5px;
  border-radius: 10%;
}

